@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {

    /* color scheme */
    --primary-color: hsl(139, 51%, 42%);
    --secondary-color: hsl(341, 98%, 56%);
    --dark-color: hsl(0, 2%, 16%);
    --neutral-color: hsl(38, 89%, 86%);

    /* fonts */

    --basic-font: 'Quicksand', sans-serif;

}

/*General*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    background-color: var(--dark-color);
    height: 100vh;
    width: 100vw;
    color: var(--neutral-color);
    font-size: 3rem;
    font-family: var(--basic-font);
}

.content {
    width:90%;
    max-width: 800px;
    margin: 0 auto;
}

.center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.display-inline {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.full-height {
    display: grid;
    grid-template-rows: 10% 1fr 20%;
}

.btn {
    background-color: transparent;
    color: inherit;
    font-size: .6em;
}


.btn-rectangular {
    font-family: inherit;
    padding: .5em;
    margin: .6em 0;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 
    0 0 0 4px var(--dark-color),
    0 0 0 5px white
    ;
}

button.btn-rectangular:hover,
.btn-rectangular:focus {
    font-weight: bold;
    --color: var(--primary-color);
    border: 1px solid var(--color);
    background-color: var(--color);
    box-shadow: 
    0 0 0 4px var(--dark-color),
    0 0 0 5px var(--color)
    ;
    color: var(--dark-color);
}

.btn-rectangular.secondary-color:hover,
.btn-rectangular.secondary-color:focus {
    --color: var(--secondary-color);
}

/*landing page */

.actions {
    margin: 2em 0;
}


/* game page */

.small-logo {
    font-size: 1.5rem;
}

header {
    padding: .5em 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu > ul {
    list-style: none;
    gap: .25em;
       
}

.menu > ul > li {
    display: flex;
    justify-content: center;
    gap: 1px;
}

.menu-button {
    border: none;   
}

.menu-button:hover > i,
.menu-button:focus > i {
    opacity: .8;
    transform: scale(1.2);
}

.title {
    font-size: .4em;
    text-align: left;
    width: 100%;
}

.empty {
    display: block;
    opacity: .2;
    text-align: center;
    margin: 0;
}
.empty p {
    font-size: .6em;
}

.empty i {
    font-size: 5em;
}

.display-area {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 20px 0;
}
#players > div {
    height: fit-content;
    color: var(--dark-color);
    margin: 2px 0;
}

#players > div div:first-child {
    width: 100px;
    height: 100%;
    line-height: 30px;
    text-align: right;
    border: 1px solid var(--dark-color);
    border-radius: 3px;
    padding: 0 20px;
    color: var(--dark-color);
    background-color: var(--primary-color);
}

#players > div:nth-child(odd) div:first-child {
    background-color: var(--secondary-color);
}

.display-area input {
    --color: var(--primary-color);
    margin: 2px 0;
    width: 100px;
    background-color: transparent;
    border: 1px solid var(--color);
    border-radius: 3px;
    padding: .4em;
    color:var(--primary-color);
}

.display-area div:nth-child(odd) input[type="number"],
.display-area div:nth-child(odd) .display-name {
    --color: var(--secondary-color);
    color: var(--color);
}

.display-area input:hover,
.display-area input:focus {
    box-shadow: 0 0 5px 1px;
}

#players button {
    background-color: var(--dark-color);
    width: 20px;
    height: 20px;
    --color: white;
    border: 1px solid var(--color);
    box-shadow: 
    0 0 0 4px var(--dark-color),
    0 0 0 5px var(--color)
    ;
    border-radius: 50%;
    color: var(--neutral-color);
}

#players button:hover,
#players button:focus {
    --color: var(--neutral-color);
    box-shadow: 0 0 0 3px var(--color);
}

/* modals*/
#new-player {
    display: none;
}
.modal::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0, 0.7);
    isolation: isolate;
}

.modal-action-area {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    font-size: 1.5rem;
    height: 50%;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;

    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 
    0 0 0 4px var(--dark-color),
    0 0 0 5px white
    ;
    
    background-color: var(--dark-color);
}

.modal-action-area input {
    margin: .5em 0 2em ;
    background-color: inherit;
    border: 1px solid var(--neutral-color);
    padding: .4em;
    color: inherit;
}

.modal-action-area input:hover,
.modal-action-area input:focus {
    box-shadow: 0 0 5px 1px;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1em;
}

.btn-close:hover,
.btn-close:focus {
    color: var(--secondary-color);
}

#error-msg {
    color: var(--secondary-color);
    font-size: 1rem;
    margin-bottom: 1rem;
}


/* footer */

footer {
    padding: 10px;
}

footer > ul {
    list-style: none;
    font-size: .6em;
}


li > a {
    text-decoration: none;
    color: inherit;
}

li a:hover > i,
li a:focus > i {
    opacity: .8;
    transform: rotate(10deg);
    transition: transform .5s ease-in-out;
}

#powered {
    font-size: 1rem;
    margin: 5px
}

