@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    /* color scheme */
    --primary-color: hsl(139, 51%, 42%);
    --secondary-color: hsl(341, 98%, 56%);
    --dark-color: hsl(0, 2%, 16%);
    --neutral-color: hsl(38, 89%, 86%);

    /* fonts */
    --basic-font: 'Quicksand', sans-serif;
}

/*General*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
* a {
    color: inherit;
    text-decoration: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
    background-color: var(--dark-color);
    height: 100vh;
    width: 100vw;
    color: var(--neutral-color);
    font-size: 3rem;
    font-family: var(--basic-font);
}

.content {
    width: fit-content;
    max-width: 90%;
    margin: 0 auto;
}

.center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.display-inline {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
    height: auto;
}

.full-height {
    display: grid;
    grid-template-rows: 10% 1fr 20%;
}

.btn {
    background-color: transparent;
    color: inherit;
    font-size: 2rem;
}

.btn-smaller {
    font-size: 1.5rem;
}

.btn-rectangular {
    font-family: inherit;
    padding: .5em;
    margin: .6em 0;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 
    0 0 0 4px var(--dark-color),
    0 0 0 5px white
    ;
}

button.btn-rectangular:hover,
.btn-rectangular:focus {
    font-weight: bold;
    --color: var(--primary-color);
    border: 1px solid var(--color);
    background-color: var(--color);
    box-shadow: 
    0 0 0 4px var(--dark-color),
    0 0 0 5px var(--color)
    ;
    color: var(--dark-color);
}

.btn-rectangular.secondary-color:hover,
.btn-rectangular.secondary-color:focus {
    --color: var(--secondary-color);
}

/*landing page */

#resume:disabled,
#finish-btn-main:disabled {
    opacity: .8;
}

#finish-btn-main:disabled {
    border: 1px solid white;
}

#resume:disabled:hover,
#resume:disabled:focus,
#finish-btn-main:disabled:hover,
#finish-btn-main:disabled:focus {
    background-color: var(--dark-color);
    color: var(--neutral-color);
    font-weight: normal;
}

#resume:disabled:hover,
#resume:disabled:focus {
    border: 1px solid white;
    box-shadow: 
    0 0 0 4px var(--dark-color),
    0 0 0 5px white

}

.actions {
    margin: 2em 0;
    max-height: 300px;
    position: relative;
}

#about > div{
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
}

.about-content {
    position: absolute;
    top: 50px;
    width: 90%;
    padding-bottom: 50px;
}

.about-content h2 {
    margin: 1em 0 .3em 0;
}

#about h1 {
    font-size: 1.7rem;
}

#about h2 {
    font-size: 1.5rem;
}

#about p {
    font-size: 1.3rem;
}

/* game page */

#target-container {
    font-size: 1rem;
    height: fit-content;
}

.small-logo {
    font-size: 1rem;
}

header {
    padding: .5em 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu > ul {
    list-style: none;
    gap: .25em;
       
}

.menu > ul > li {
    display: flex;
    justify-content: center;
    gap: 1px;
}

.menu-button {
    border: none;   
}

.menu-button:hover > i,
.menu-button:focus > i {
    opacity: .8;
    transform: scale(1.2);
}

.title {
    font-size: .4em;
    text-align: left;
    width: 100%;
}

.empty {
    display: block;
    opacity: .2;
    text-align: center;
    margin: 0;
}
.empty p {
    font-size: .6em;
}

.empty i {
    font-size: 5em;
}

.display-area {
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.btn-remove {
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: var(--neutral-color);
}
.title {
    margin: 20px 0;
}

/*players section*/
#players {
width: 100%;
}

#players > div {
    height: fit-content;
    color: var(--dark-color);
    margin: 2px 0;
}

#players > div div:nth-child(2) {
    width: 100%;
    height: 100%;
    line-height: 30px;
    text-align: right;
    border: 1px solid var(--dark-color);
    border-radius: 3px;
    padding: 0 20px;
    color: var(--dark-color);
    background-color: var(--primary-color);
}

#players > div:nth-child(odd) div:nth-child(2) {
    background-color: var(--secondary-color);
}

.player-line {
    margin-left:auto;
}

.display-area input {
    --color: var(--primary-color);
    margin: 2px 0;
    margin-right: 0;
    width: 100px;
    background-color: transparent;
    border: 1px solid var(--color);
    border-radius: 3px;
    padding: .4em;
    color:var(--primary-color);
}

.display-area > div:nth-child(odd) input[type="number"],
.display-area > div:nth-child(odd) .display-name {
    --color: var(--secondary-color);
    color: var(--color);
}

.display-area input:hover,
.display-area input:focus {
    box-shadow: 0 0 5px 1px;
}

#players input + button {
    background-color: var(--dark-color);
    width: 20px;
    height: 20px;
    --color: white;
    border: 1px solid var(--color);
    box-shadow: 
    0 0 0 4px var(--dark-color),
    0 0 0 5px var(--color)
    ;
    border-radius: 50%;
    color: var(--neutral-color);
}

#players  input + button:hover,
#players  input + button:focus {
    --color: var(--neutral-color);
    box-shadow: 0 0 0 3px var(--color);
}

/*score area*/

#score-area {
    font-size: 1.3rem;
    width: 100%;
}

#score-area .display-name {
    text-align: left;
    padding: 0 20px;
}

/* finish game section*/
#finish-game {
    height: 100%;
    display: flex;
    align-items: flex-end; 
    margin-top: 1em;
}

.finish {
    font-size: 1.2rem;
    padding: .5em;
    border: 2px solid var(--secondary-color);
    border-radius: 3px;
}

.finish:hover,
.finish:focus {
    background-color: var(--secondary-color);
    color: var(--dark-color);
}


/* modals*/
#about,
#new-player,
#options,
#new-game-modal,
#prompt-finish.modal,
#leaderboard {
    display: none;
}

.modal form {
    padding: 1em;
}

.modal::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right:0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0, 0.7);
    isolation: isolate;
}

.modal-action-area {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);

    font-size: 1.5rem;
    min-height: 50%;
    max-height: 90%;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;

    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 
    0 0 0 4px var(--dark-color),
    0 0 0 5px white
    ;
    
    background-color: var(--dark-color);
}

.modal-action-area input {
    margin: .5em 0 2em ;
    background-color: inherit;
    border: 1px solid var(--neutral-color);
    padding: .4em;
    color: inherit;
}

.modal-action-area input:hover,
.modal-action-area input:focus {
    box-shadow: 0 0 5px 1px;
}

.modal .btn {
font-size: 1.2rem;
}

.btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-close i {
    font-size: 1.5em;
}

.btn-remove:hover,
.btn-remove:focus,
.btn-close:hover,
.btn-close:focus {
    color: var(--secondary-color);
}

#error-msg,
#modal-error-msg,
#new-game-error-msg  {
    color: var(--secondary-color);
    font-size: 1rem;
    margin-bottom: 1rem;
}

#darts-checkbox {
    margin: 1em;
}

#darts-checkbox input{
    margin: 0;
    padding: 0;
}

#darts-checkbox:focus {
    outline: 5px solid var(--primary-color);
}                           

#darts-mode {
    appearance: none;
    display: block;
    background-color: inherit;
    width: 3em;
    height: 1.5em;
    border-radius: 100000000px;
    border: 1px solid var(--neutral-color);
    align-self: center;
    position: relative;
    transition: all 1s ease-in-out;
}

#darts-mode::before {
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--neutral-color);
    opacity: .7;
}

#darts-mode:checked {
    background-color: var(--primary-color);
}

#darts-mode:checked::before {
    background-color: var(--neutral-color);
    opacity: 1;
    transform: translateX(101%);
    transition: all .5s ease-in-out;
}

#darts-mode:not(:checked)::before {
    transition: all .3s ease-in-out;
}

/* Finish Game */

#prompt-finish p {
    padding: 2em;
}

#leaderboard {
    position: fixed;
    top: 0;
    height: 100%;
    width: 90%;
    isolation: isolate;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-color);
}

#leaderboard > div {
    display: flex;
    height: 100%;
    margin: 0 auto;
}

#ranking {
    height: 100%;
    margin: 0 auto;
    font-size: 1.3rem;
    text-align: left;
}
#ranking div {
    margin: 0 auto;
    max-width: 90%;
}

#ranking > div:first-child {
    font-size: 2em;
    margin-bottom: 20px;
    background-color: var(--neutral-color);
    color: var(--dark-color);
    padding: .5em;
}

.players-rank {
    margin: 0 auto;
    display: grid;
    width: 90%;
    grid-template-columns: 20px 2fr 1fr;
}

/* footer */

footer {
    padding: 10px;
    margin-top: 50px;
}

footer > ul {
    list-style: none;
    font-size: 2rem;
}


li a:hover > i,
li a:focus > i {
    opacity: .8;
    transform: rotate(10deg);
    transition: transform .5s ease-in-out;
}

#powered {
    font-size: 1rem;
    margin: 5px
}

